@using System.ComponentModel.DataAnnotations
<div class="form-group">
  <label for="exampleInputEmail1" class="form-label">
    <i class="far fa-user"/>
    <span>
      Email address
    </span>
  </label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>

@code
{
  [Parameter]
  public string Type { get; set; } = "text";

  [Parameter]
  [Required]
  public string Name { get; set; }

  [Parameter]
  [Required]
  public string id { get; set; }

  [Parameter]
  public string Placeholder { get; set; } = "";

  [Parameter]
  public string Value { get; set; } = "";
}
