@* ReSharper disable Html.TagShouldNotBeSelfClosed *@
@page "/register"
@inherits RegisterBase

@if (IsLoading)
{
  <DisplaySpinner ClassName="bg-opacity-0"/>
}
else
{
  <div class="hero-overlay"/>
  <ContentWrapper>
    <div class=" d-flex w-100 justify-content-center">
      <div class="position-relative bg-opacity-50 d-flex flex-column p-3 bg-dark text-white rounded-5 border w-100 max-w-30_125 px-3">
        <p class="form-title text-center fw-600 text-2">Inscription</p>
        @if (IsLoading)
        {
          <DisplaySpinner/>
        }
        @* Show here error from the server when login failed *@
        @if (_errorFromServer != null)
        {
          <div class="error-from-server ">
            <p class="text-danger text-xs">
              <i class="fad fa-times"/>
              @_errorFromServer
            </p>
          </div>
        }
        <div class="w-100 ">
          <RegisterForm OnSubmit="OnSubmit" @bind-UserRegister="@UserRegister"/>
        </div>
      </div>
    </div>
  </ContentWrapper>
}

@code {
  private string? _errorFromServer;
  protected async Task OnSubmit()
  {
    IsLoading = true;
    try
    {
      var user = await AuthService.Register(UserRegister);
      if (user is not null)
      {
        Router.NavigateTo($"/login?email={UserRegister.Email}");
        Console.WriteLine($"Hello {user.FirstName} {user.LastName}, you are registered");
        return;
      }
      _errorFromServer = "Une erreur est survenue lors de l'inscription";
    }
    catch (Exception e)
    {
      _errorFromServer = e.Message;
    }
    finally
    {
      IsLoading = false;
    }
  }
}
